#agency-info-body {
	background-color: #ebf2f2;
	padding: 10px 10px;

	.required-asterisk {
		color: #f77f79;
	}
}

#section-one {
	background-image: url('../../img/agency-info-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 10px;

	h1 {
		font-family: 'Open Sans', sans-serif;
		color: #fff;
		font-size: 32px;
		font-weight: 300;
		padding-top: 15px;
	}

	p.s1-p1 {
		font-family: 'Open Sans', sans-serif;
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		padding-bottom: 15px;
	}

	p.s1-p2 {
		font-family: 'Open Sans', sans-serif;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		padding-top: 15px;
	}
}

#section-two {
	background-color: #fff;
	padding: 10px 15px;
	text-align: left;
	height: 715px;

	.name, .contact, .about, .location, .website, .social-media {
		padding-bottom: 10px;
	}

	.label-title {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
	}

	.social-media-label {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
	}

	.social-media-container {
		padding-top: 10px;
	}
}