@import 'generalize.less';

/* Start: tour overview modal */
.section-3 {
	p {
		font-family: 'Open sans', sans-serif;
	    font-size: 14px;
	    font-weight: 400;
	    padding-top: 18px;
	}
}

.section-6 {
	button {
		width: 100%;
	    margin-top: 25px;
	    padding: 11px 0px;
	    background-color: rgba(255, 255, 255, 0);
	    border: 1px solid #48bdd5;
	    color: #48bdd5;
	    font-family: @font;
	    font-size: 18px;
	    font-weight: @semi-bold;
	}
}

.section-8 {
	padding-top: 15px;

	button {
		margin-bottom: 10px;
    	margin-left: 10px;
	}
}
/* End: tour overview modal */

/* Start: Choose Category Modal */
.cat-img {
	padding: 32px 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    margin-bottom: 10px;

    p {
    	font-family: @font;
	    color: #fff;
	    font-size: 16px;
	    font-weight: 400;
    }
}
#choose-categories-section-1 {
	padding: 0px 8px;
	text-align: center;
}
.no-padding-left-right {
	padding-left: 0px;
	padding-right: 0px;
}
.cat-1 {
	background-image: url(../../img/cat-1.jpg);
}
.cat-2 {
	background-image: url(../../img/cat-2.jpg);
}
.cat-3 {
	background-image: url(../../img/cat-3.jpg);
}
.cat-4 {
	background-image: url(../../img/cat-4.jpg);
}
.cat-5 {
	background-image: url(../../img/cat-5.jpg);
}
.cat-6 {
	background-image: url(../../img/cat-6.jpg);
}
.cat-7 {
	background-image: url(../../img/cat-7.jpg);
}
.cat-8 {
	background-image: url(../../img/cat-8.jpg);
}
.cat-9 {
	background-image: url(../../img/cat-9.jpg);
}
#choose-categories-section-2 {
	padding: 10px 0px;
	a {
		margin-left: 47px;
	}
	button {
		margin-left: 14px;
	}
}
/* End: Choose Category Modal */

/* Start: Tour Details modal */
#tour-details-section-2, #tour-details-section-3 {
	button {
		width: 100%;
	    margin-top: 25px;
	    padding: 11px 0px;
	    background-color: rgba(255, 255, 255, 0);
	    border: 1px solid #48bdd5;
	    color: #48bdd5;
	    font-family: @font;
	    font-size: 18px;
	    font-weight: @semi-bold;
	}
}
#tour-details-section-3 {
	p {
		font-family: 'Open sans', sans-serif;
	    font-size: 14px;
	    font-weight: 400;
	    padding-top: 18px;
	}
}
.date-time{
	font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #20b698;	
}
#tour-details-section-4 {
	padding: 10px 0px;
	a {
		margin-left: 47px;
	}
	button {
		margin-left: 14px;
	}
}
#tour-details-section-4 {
	p {
		margin-top: 10px;
		font-family: 'Open sans', sans-serif;
		font-size: 14px;
		font-weight: 400;		
	}
	i {
		font-size: 25px;
	}
}
/* End: Tour Details modal */