
@import 'lib.less';

/* General
  -------------------------------------------------- */
html,body{
	overflow-x:hidden;
}
body {
    font-family: @font;
    color: @DarkTextColor;
    font-size: @GeneralFontSize;
    background-color: #fff;
}
p {
    line-height: 1.7em;
}
a {
    color: @DarkTextColor;
    outline: 0;
    text-decoration: none;
}
a:focus,a:hover {
    text-decoration: none;
    outline: 0;
    color: #f77f79;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: @font;
    font-weight: @regular;
    color: @DarkTextColor;
}
.light-text{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p{
	    color: @LightTextColor;
	}	
}
/* button,input etc..
  -------------------------------------------------- */
.form-control {
    border-radius: 0px;
    background-color: #fafafa;
    height: 40px;
}
.has-feedback-left .form-control-feedback {
    left: 0;
    top: 5px;
}
.has-feedback-left .form-control {
    padding-left: 34px;
    padding-right: 12px;
}
.btn{
	white-space: normal;
}
.btn-md{
	font-size: 18px;
}
.btn-primary.btn-border{
	border-bottom:3px solid #159c81!important;
}
.btn-secondary.btn-border{
	border-bottom:3px solid #db6b65!important;
}
.btn-primary, .btn-primary:hover {
	box-shadow: none;
	background-color: #20b698;
	font-family: @font;
	font-weight: @semi-bold;
	padding: 10px 30px;
    border-radius: @clear-border;
    border: 1px solid #20b698;
    background-image: none;
}
.btn-primary:hover,.btn-primary:focus {
	background-color: transparent;
	border: 1px solid #20b698;
}
.btn-secondary{
	background-color: #f77f79;
	font-family: @font;
	font-weight: @semi-bold;
	padding: 10px 30px;
    border-radius: @clear-border;
    border: 1px solid #f77f79;
    background-image: none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}
.btn-secondary:hover,.btn-secondary:focus {
	background-color: transparent;
	border: 1px solid #f77f79;
	color: #f77f79;
}
.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 8px 40px;
}
.btn-transparent:hover,.btn-transparent:focus{
	background-color: #20b698;
	border: 1px solid #20b698;
	color: #fff;
}
/* Modal
  -------------------------------------------------- */
.modal-content {
	padding: @content-padding;
	border-radius: @clear-border;
    border: 1px solid #fff;
}
.modal-banner {
	background-image: @header-banner;
    padding: @content-padding;

	h2 {
	    font-family: 'Open sans', sans-serif;
	    color: #fff;
	    font-weight: 300;
	    font-size: 32px;
	    margin-top: 10px;
	}
	h3 {
		font-family: 'Open sans', sans-serif;
	    font-size: 18px;
	    color: #fff;
	    font-weight: 400;
	    margin-top: -5px;
	}
}

/* Helper classes: Spacing & Padding classes
  -------------------------------------------------- */

.banner-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.marginx{
	margin-top: 20px;
    margin-bottom: 20px;
}
.paddingx {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding1x {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding2x {
    padding-top: 60px;
    padding-bottom: 60px;
}
.padding3x {
    padding-top: 90px;
    padding-bottom: 90px;
}
.padding4x {
    padding-top: 120px;
    padding-bottom: 120px;
}
.padding5x {
    padding-top: 150px;
    padding-bottom: 150px;
}
.padding6x {
    padding-top: 200px;
    padding-bottom: 200px;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-left {
    padding-left: 0px !important;
}
.no-padding-right {
    padding-right: 0px !important;
}
.padding-top-x {
    padding-top: 20px;
}
.padding-top-1x {
    padding-top: 30px;
}
.padding-top-2x {
    padding-top: 60px;
}
.padding-top-3x {
    padding-top: 90px;
}
.padding-top-4x {
    padding-top: 120px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-x {
    padding-bottom: 20px;
}
.padding-bottom-1x {
    padding-bottom: 30px;
}
.padding-bottom-2x {
    padding-bottom: 60px;
}
.padding-bottom-3x {
    padding-bottom: 90px;
}
.padding-bottom-4x {
    padding-bottom: 120px;
}
.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-left-right {
    margin-left: 0px;
    margin-right: 0px;
}
.no-padding-left-right {
    padding-left: 0px;
    padding-right: 0px;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-x {
    margin-bottom: 10px;
}
.margin-bottom-1x {
    margin-bottom: 30px;
}
.margin-bottom-2x {
    margin-bottom: 60px;
}
.margin-top-1px {
    margin-top: 30px;
}
.marginx {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin2x {
    margin-top: 60px;
    margin-bottom: 60px;
}
.margin3x {
    margin-top: 90px;
    margin-bottom: 90px;
}
.margin4x {
    margin-top: 120px;
    margin-bottom: 120px;
}
.align-center {
    margin: 0 auto;
}
.align-right {
    text-align: right;
}
.btn + .btn {
    margin-left: 15px;
}
.first-banner {
    margin-top: 115px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.light{
    font-weight: 300;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.upper{
	text-transform: uppercase;
}
.wide {
    width: 100%;
}
.clear-fix{
	clear: both;
}
.vertical-align{
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
		padding-right: 10px;
	}
	li:last-child{
		padding-right: 0;
	}
}
@media (max-width: 1199px) {
    .padding-bottom-lg {
        padding-bottom: 30px;
    }
}
@media (max-width: 991px) {
    .padding-bottom-md {
        padding-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .padding-bottom-sm {
        padding-bottom: 30px;
    }
}
/* Header
  -------------------------------------------------- */
#mySidenav{
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	.header-nav {
	    padding-left: 20px;
	    li{
	    	padding-bottom: 20px;
	    }
	}
	.closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	a {
    	color: #fff;
	}
    
}
#header.sticky {
	    height: 72px;
    background: #333;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
#header {
	padding-top: 20px;
    height: 80px;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    .hidden-md-up {
    	display: block;
	}
    .hamburger {
	    text-align: right;
	    color: #fff;
	    font-size: 25px;
	}
	.header-nav {
		text-align: right;
		display: none;
		li {
		    display: inline-block;
		    padding: 0 10px;
		    a {
		    	color: #fff;
		    	font-size: 16px;
			}
		}
		.signup {
			a{
				color: @MainColor;
				font-weight: bold;
			}
		}
		.btn-transparent {
		    padding: 5px 15px;
		}
	}
}

.modal-login{
	.sub {
	    font-size: 12px;
	    margin-bottom: 0;
	    a{
	    	color: #1db2cf;
	    }
	}
	.needphone {
	    font-size: 12px;
	    p{
	    	color: #1db2cf;
	    }
	}
	.terms {
	    font-size: 13px;
	    padding-top: 10px;
	    a {
		    color: #1db2cf;
		}
	}
	.btn-primary {
		&:hover,&:focus{
			color: #20b698;
		}
	    width: 100%;
	    padding: 13px;
	    box-shadow: none;
	    font-size: 16px;
	    text-shadow: none;
	}
	.form-control {
	    border-radius: 0px;
	    background-color: #fafafa;
	    height: 45px;
	    border-color: #ebe9e9;
	    box-shadow: none;
	}
	.or{
		padding: 15px 0;
		margin: auto;
	}
	.remember {
	    font-size: 14px;
	    .float-left,.float-right{
		    padding-bottom: 10px;
		}
		.checkbox {
		    position: relative;
		    display: block;
		    margin-top: 0px;
		    margin-bottom: 0px;
		}
	}
	.modal-content {
    	padding: 15px 25px;
    	box-shadow: none;
	}
	.modal-footer {
	    padding: 10px 15px;
	    text-align: center;
	    border-top: none;
	    background-color: #ebf2f2;
	    box-shadow: none;
	    .donthave span {
		    font-size: 14px;
		    padding-right: 14px;
		    font-weight: 600;
		}
		.btn-transparent {
			&:hover,&:focus{
				color: #fff;
				border: 1px solid #20b698;
			}
		    color: #20b698;
		    border: 1px solid #20b698;
		    border-radius: 0;
		    padding: 8px 20px;
		}
	}
	.signup {
		h4 {
		    font-size: 20px;
		    margin-bottom: 15px;
		}
		.fb-btn {
			margin-bottom: 10px;
			a {
			    background-color: #39579a;
			    padding: 15px 11px 15px 39px;
			    color: #fff;
			    width: 100%;
			    border-radius: 0;
			}
			img {
			    float: left;
			}
		}
		.google-btn {
			img {
			    float: left;
			}
			a {
			    background-color: #fff;
			    padding: 15px 11px 15px 35px;
			    color: #ea4335;
			    border-color: #ea4335;
			    width: 100%;
			    border-radius: 0;
			}
		}

	}
	.signuemail{
		.form-control {
		    height: 40px;
		}
		.form-group {
		    margin-bottom: 10px;
		}
	}
}
/* footer
  -------------------------------------------------- */
#footer {
    background-color: #ebf2f2;
    font-size: 14px;
    padding: 60px 0;
    border-top: 1px solid #ccc;
    p{
    	margin: 0;
    }
    h4{
    	font-size: 18px;
    	color: #20b698;
    }
    
    ul {
    	list-style: none;
    	padding-left: 0;
    	margin-bottom: 0;
    	li{
    		padding-bottom: 10px;
    		a{
    			font-size: 14px;
    		}
    	}
	}
}
.sub-footer {
    background-color: #dae7e7;
    padding: 15px 0;
    p {
	    margin: 0;
	    font-size: 12px;
	}
}

/* Modal Category
  -------------------------------------------------- */
#modalCategory{
	.modal-header {
	    text-align: center;
	    background-image: url(../../img/modal-header-banner.jpg);
    	padding: 20px 15px;
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
    	color: #fff;
    	border: none;
    	p{font-size: 18px;margin: 0;}
    	h2 {
		    font-size: 32px;
		    font-weight: 100;
		    color: #fff;
		    margin-bottom: 5px;
		}
	}
	.modal-content {
    	padding: 0;
    	border: none;
	}
	.col-sm-4 {
    	padding: 5px!important;
	}
	.modal-body {
	    position: relative;
	    padding: 15px 30px!important;
	}
	.form-control{
		text-align: center;
	}
	.btn-primary{
		padding: 8px 60px;
		margin-left: 10px;
	}
	.cat1.selected:after,.cat2.selected:after,.cat3.selected:after,.cat4.selected:after,.cat5.selected:after,.cat6.selected:after,.cat7.selected:after,.cat8.selected:after,.cat9.selected:after {
	    content: "\f058";
	    font-family: FontAwesome;
	    position: absolute;
	    bottom: 12px;
	    right: 20px;
	    font-size: 23px;
	}
	.cat1.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-1.jpg)!important;
	}
	.cat2.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-2.jpg)!important;
	}
	.cat3.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-3.jpg)!important;
	}
	.cat4.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-4.jpg)!important;
	}
	.cat5.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-5.jpg)!important;
	}
	.cat6.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-6.jpg)!important;
	}
	.cat7.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-7.jpg)!important;
	}
	.cat8.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-8.jpg)!important;
	}
	.cat9.selected{
		background-image: linear-gradient(
	      rgba(32, 182, 152, 0.6), 
	      rgba(32, 182, 152, 0.6)
	    ),
	    url(../../img/cat-9.jpg)!important;
	}

	.cat1 {
	    background-image: url(../../img/cat-1.jpg);
	}
	.cat2 {
	    background-image: url(../../img/cat-2.jpg);
	}
	.cat3 {
	    background-image: url(../../img/cat-3.jpg);
	}
	.cat4 {
	    background-image: url(../../img/cat-4.jpg);
	}
	.cat5 {
	    background-image: url(../../img/cat-5.jpg);
	}
	.cat6 {
	    background-image: url(../../img/cat-6.jpg);
	}
	.cat7 {
	    background-image: url(../../img/cat-7.jpg);
	}
	.cat8 {
	    background-image: url(../../img/cat-8.jpg);
	}
	.cat9 {
	    background-image: url(../../img/cat-9.jpg);
	}
	.cat1,.cat2,.cat3,.cat4,.cat5,.cat6,.cat7,.cat8,.cat9 {
		background-size: cover;
    	background-repeat: no-repeat!important;
    	background-position: center;
    	height: 110px;
    	text-align:center;
	    color: #fff;
	    padding-top: 40px;
	    cursor: pointer;
	}
}
#modalParticipant{
	.add a img {
	    width: 30px;
	}
	h4 {
		padding-top: 7px;
		span {
    		font-weight: bold;
		}
	}	
	.participants {
		&:hover,&:focus{
			background-color: #5bd784;
		}
		cursor: pointer;
		margin-bottom: 3px;
	    background-color: #ebf2f2;
	    padding: 10px;
	    p{
	    	margin: 0;
	    	font-size: 14px;
	    }
	}
}
/* templated 
  -------------------------------------------------- */
.card-template{
    text-align: center;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
	.card-image-section {
	    background-color: #fff;
	    padding: 15px;
	    .group-date ul {
		    padding-left: 0;
		    list-style: none;
		    li{
		    	&:first-child{
		    		padding-right: 10px;
		    	}
		    	float: none;
		    	position: relative;
		    	display: inline-block;
		    	font-size: 14px;
		    	img{
		    		padding-right: 5px;
    				padding-bottom: 3px;
		    	}
		    }
		}
	    .card-image {
	    	height: 140px;
	    	padding: 10px;
	    	h4 {
	    		margin-bottom: 0;
	    		color: #f39f00;
	    		font-size: 20px;
	    		font-weight: bold;
			}
			p{
				font-size: 14px;
				color: #fff;
				font-weight: bold;
			}
		}
	    .card-headshot {
	    	position: relative;
	    	top: 40px;
	    	ul {
		    	list-style: none;
		    	padding-left: 0;
			    .first-head img {
				    width: 53px;
				    height: 53px;
				    margin-right: -16px;
				    border-radius: 50%;
				}
				.last-head img {
				    width: 53px;
				    height: 53px;
				    margin-left: -16px;
				    border-radius: 50%;
				}
				.middle-head {
					z-index: 99;
					img{
						border-radius: 50%; 
						width: 69px;
						height: 69px;
					}
				}
			    li {
		    		float: none;
		    		position: relative;
		    		display: inline-block;
				}	
			}
		}
		.card-title{
			padding-top: 36px;
			h3{
				font-size: 18px;
				color: #20b698;
				font-weight: 600;
			}
			h4{
				font-size: 16px;
				font-weight: 600;
				color: @DarkTextColor;
			}
			.date{
				font-size: 14px;
				font-weight: 600;
			}
			.fa-plane{
				padding-right: 5px;
			}
		}
	}
	.card-detailed-section{
		background-color: #f8f8f8;
		border-top: 1px solid #ebe9e9;
		padding: 10px;
		p{
			font-size: 14px;
			color: @DarkTextColor;
			font-weight: 100;
		}
		h3{
			font-weight: bold;
			font-size: 16px;
			color: #f77f79;
			margin:0;
		}
		.booked{
			color: #2f94e2;
		}
	}
}
.card-group-template{
    text-align: center;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
	.card-image-section {
	    background-color: #fff;
	    padding: 10px;
	    .group-date ul {
		    padding-left: 0;
		    list-style: none;
		    margin-bottom: 0;
		    li{
		    	&:first-child{
		    		padding-right: 10px;
		    	}
		    	float: none;
		    	position: relative;
		    	display: inline-block;
		    	font-size: 14px;
		    	    font-weight: 600;
		    	img{
		    		padding-right: 5px;
    				padding-bottom: 3px;
		    	}
		    }
		}
	    .card-image {
	    	height: 190px;
	    	padding: 10px;
	    	h4 {
	    		margin-bottom: 0;
	    		color: #f39f00;
	    		font-size: 20px;
	    		font-weight: bold;
			}
			p{
				font-size: 14px;
				color: #fff;
				font-weight: bold;
			}
		}
	    .card-headshot {
	    	position: relative;
	    	top: 88px;
	    	ul {
		    	list-style: none;
		    	padding-left: 0;
			    .first-head img {
				    width: 53px;
				    height: 53px;
				    margin-right: -16px;
				    border-radius: 50%;
				}
				.last-head img {
				    width: 53px;
				    height: 53px;
				    margin-left: -16px;
				    border-radius: 50%;
				}
				.middle-head {
					z-index: 99;
					img{
						border-radius: 50%; 
						width: 69px;
						height: 69px;
					}
				}
			    li {
		    		float: none;
		    		position: relative;
		    		display: inline-block;
				}	
			}
		}
		.card-title{
			padding-top: 36px;
			h3{
				font-size: 18px;
				color: #20b698;
				font-weight: 600;
			}
			h4{
				font-size: 16px;
				font-weight: 600;
				color: @DarkTextColor;
				i{
					color: #5bd784;
					padding-left: 5px;
				}
			}
			.date{
				font-size: 14px;
				font-weight: 600;
			}
			.fa-plane{
				padding-right: 5px;
			}
		}
		.star{
			padding-bottom: 10px;
			i{
				color: #f1c500;
				font-size: 14px;
			}
		}
	}
	.card-detailed-section{
		background-color: #f8f8f8;
		border-top: 1px solid #ebe9e9;
		padding: 15px ;
		p{
			font-size: 14px;
			color: @DarkTextColor;
			font-weight: 100;
		}
		h3{
			font-weight: bold;
			font-size: 16px;
			color: #f77f79;
			margin:0;
		}
		.booked{
			color: #2f94e2;
		}
		.declined{
			color: #f77f79;
		}
	}
}
.card-group-template.type-2{
	 .card-image-section .card-title h4{
	 	margin-bottom: 0;
	 }
}
.card-group-template.long{
	.card-image-section .card-image{
		height: 550px;
	}
	.card-image-section .card-headshot{
		    top: 450px;
	}
}
.group-tour-template{
	.group-tour-header-holder{
		border: 1px solid #ebe9e9;
	  	background-color: #fafafa;
	  	.dropdown-menu{
	  		right: 0;
	  		left: initial;
	  		margin-top: 10px;
	  	}
		.group-tour-subheader {
		    background-color: #fafafa;
		    padding: 10px 15px;
		    ul {
		    	list-style: none;
			    padding-left: 0;
			    margin-bottom: 0;
			   
		    	li{
		    		display:inline-block;
		    		vertical-align: middle;
		    	}
		    	li:first-child, li:first-child + li{
		    		padding-right: 10px;
		    	}
			    list-style: none;
			    padding-left: 0;
			}
			.head-img img {
			    border-radius: 50%;
			    width: 69px;
			}
		    .head-img, .name {
			    display: inline-block;
			    vertical-align: middle;
			}
			.name h5 {
			    font-size: 18px;
			    font-weight: bold;
			    margin-bottom: 5px;
			}
			.star {
			    color: #f1c500;
			}
		}
		.group-tour-header{
			background-color: #20b69a;
			padding: 15px 0px 0;
			h4{
				font-size: 22px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 5px;
			}
			p{
				font-weight: 600;
				color: #fff;
				margin-bottom: 15px;
			}
			.who-booked {
				li {
					padding-right: 5px;
					img {
			    		width: 35px;
					}
				}
			}
			.name{
				padding: 0 15px;
			}
			.slot{
				background-color: #fff;
				border-top:none!important;
			    border: 10px solid transparent;
		        -moz-border-image: -moz-linear-gradient(top, #49b9a4 0%, #1db2cf 100%);
		        -webkit-border-image: -webkit-linear-gradient(top, #49b9a4 0%, #1db2cf 100%);
		        border-image: linear-gradient(to bottom, #49b9a4 0%, #1db2cf 100%);
				border-image-slice: 1;
			    padding: 20px;
			    .plus {
				    background-color: #5c6d80;
				    border-radius: 50%;
				    width: 35px;
    				height: 35px;
				    text-align: center;
				    padding: 9px 3px;
				    color: #fff;
				    font-size: 12px;
				}
			    .slot-number-holder {
				    text-align: center;
				    .btn-primary {
				    	&:hover,&:focus{
				    		color: #20b698; 
				    	}
					    margin-top: 14px;
					    font-size: 16px;
					    padding: 8px 10px;
					}
				}
			    .date {
			    	font-size: 14px;
			    	font-weight: 600;
			    	    margin-bottom: 18px;
			    	img {
					    padding-right: 7px;
					    padding-bottom: 3px;
					}
					li:last-child {
					    color: #1cacc7;
					}

			    }
			    .pax {
				    font-size: 30px;
				    font-weight: bold;
				}
				.slot-no {
				    font-size: 36px;
				    color: #1db2cf;
				    font-weight: 600;
				    line-height: 1;
				    margin-bottom: 10px;
				}
				.join-tour {
					&:hover,&:focus{
						background-color: transparent;
						color: #1db2cf;
						border: 1px solid #1db2cf;
					}
				    background-color: #1db2cf;
				    border-radius: 0;
				    color: #fff;
				    text-transform: uppercase;
				    padding: 8px 15px;
				    font-size: 16px;
				    font-weight: 600;
				    margin-top: 10px;
				}
				.slot-left{
					color: #1db2cf;
					font-weight: 600;
				}
			}
		}
		
	}
	.group-tour-body-holder{
		border: 1px solid #ebe9e9;
    	background-color: #fafafa;
    	.card-image-slider {
    		margin: 20px;
		    border: 1px solid #e7e7e7;
		    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		    background-color: #fafafa;
    		.item-slide {
			    height: 358px;
			    width: 100%;
			    background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center;
			    padding: 15px;
			    .name{
			    	h5{
			    		color: #fff;
			    		margin-bottom: 0;
			    		font-weight: bold;
			    		font-size: 18px;
			    		i {
						    color: #5bd784;
						    margin-left: 10px;
						}
			    	}
			    	.star {
					    color: #f1c500;
					}
			    }
			    .discount {
				    font-size: 24px;
				    font-weight: bold;
				    color: #f39f00;
				}
				.days-left{
					font-size: 18px;
					color: #fff;
					font-weight: bold;
				}
			}
			.image-slide{
				padding: 7px;
			}
			.slick-dots li button:before {
			    font-family: 'FontAwesome';
			    content: "\f111";
			    font-size: 15px;
			    line-height: 10px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 20px;
			    height: 20px;
			    text-align: center;
			    opacity: 1;
			    color: #fff;
			}
			.slick-dots {
			    bottom: 15px;
			}
			.slick-dots li.slick-active button:before {
				content: "\f192";
			    opacity: 1;
			   color: #20b698!important;
			}
			.slick-dotted.slick-slider {
			    margin-bottom: 7px;
			}
			.title {
			    padding: 5px 15px 15px;
			    .btn-trasparent {
			    	&:hover,&:focus{
			    		background-color: #333;
			    		color:#fff;
			    	}
				    border: 1px solid #333;
				    border-radius: 0;
				    font-weight: 600;
				}
			    h4 {
				    font-size: 22px;
				    margin-bottom: 0;
				}
				.sub{
					color: #1db2cf;
					margin-bottom: 0;
					font-size: 14px;
				}
			}
			.content {
				font-size: 14px;
	    		padding: 10px 15px 10px;
	    		border-top: 2px solid #ebe9e9;
			} 
		}
		.card-comment{
			background: #fff;
		    border: 1px solid #ebe9e9;
		    margin: 10px;
			h5 {
			    font-size: 16px;
			    margin-bottom: 0;
			    font-weight: 600;
			}
			.title{
				padding: 20px;
		    	border-bottom:1px solid #ebe9e9;
				span {
				    font-size: 12px;
				    border: 1px solid #5bd784;
				    color: #20b698;
				    padding: 1px 3px;
				    margin-left: 10px;
				}
			}
			.content{
				padding: 20px;
				.comment-input{
					margin-bottom: 0;
					li:first-child {
					    width: 8%;
					}
					li:last-child {
					    width: 91%;
					}
				}
				.comment {
					margin-bottom: 0;
					li{
						vertical-align: top;
					}
					li:first-child {
					  width: 8%;
					  padding-top: 5px;
					}
					li:first-child + li{
						width: 83%;
						font-size: 14px;
						span{
							color: #1db2cf;
							font-weight: bold;
						}
						p{
							margin-bottom: 5px;
						}
						a{
							color: #1db2cf;
						}
					}
					li:last-child {
						width: 7%;
						font-size: 12px;
						padding-top: 5px;
					}
				}
			}
		}
		.card-image-tabs{
			.tab-content {
			    padding: 10px 15px;
			    font-size: 14px;
			    font-weight: 600;
			    p{
			    	padding-bottom: 15px;
			    }
			    .fa-ul{
			    	margin-left: 18px;
			    	li{
			    		padding-bottom: 7px;
			    	}	    
			    }
			    .readmore{
			    	color: #48bdd5;
			    }
			}
			.nav-item.active {
			    border-bottom: 5px solid #48bdd5;
			    a{
			    	color: #48bdd5;
			    }
			}
			.nav {
			    background-color: #fff;
			    border: 1px solid #ebe9e9;
			    li:first-child,li:first-child + li {
				    margin-right: -5px;
				}
				a{
					font-weight: 600;
					font-size: 12px;
					padding: 10px 0px;
				}

			}
			.nav-item {
				text-align: center;
				width: 33.4%;
    			display: inline-block;
				i {
			    	padding-right: 12px;
			    	display: none;
				}
				a{
			    	&:hover,&:focus{
			    		color: #48bdd5!important;
			    	}
			    }
			}
			h4 {
				font-size: 22px;
				i {
			    	padding-right: 20px;
				}
			}
			padding: 10px;
			margin: 20px;
		    border: 1px solid #e7e7e7;
		    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		    background-color: #fafafa;
		}
	}
}
#agencyProfileHeader {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),url(../../img/agency-banner.jpg);
    padding: 60px 0px 0px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
	.profile-pic {
    	text-align: center;
	}
	img{
	    border-radius: 50%;
	    margin-bottom: 30px;
	    margin-left: auto;
	    margin-right: auto;
	    width: 150px;
    	height: 150px;
	}
	.name  {
		position: relative;
		top: 0px;
    	.star{
    		color: #f1c500;
    	}
    	a{
    		color:#20b698;
    		font-size: 14px;
    	}
		h1 {
			font-size: 24px;
			span {
			    font-size: 14px;
			    margin-left: 20px;
			    color: #5bd784;
			    i {
				    margin-right: 5px;
				    font-size: 18px;
				}
			}
		}
	}
}
#agencyProfileHeaderNav {
	background-image: linear-gradient(rgba(32, 182, 152, 0.7), rgb(29, 178, 207));
	ul {
	    text-align: left;
	    margin-top: 38px;
	    li:first-child{
	    	margin-left: 40px;
	    }
	    li.active:before, li:hover:before {
	        content: "";
		    width: 0;
		    height: 0;
		    border-left: 7px solid transparent;
		    border-right: 7px solid transparent;
		    border-bottom: 5px solid #fff;
		    bottom: 0px;
		    position: absolute;
		    left: 56px;
		}
	
		li.active,li:hover{
		    border-bottom: 3px solid #fff;
		}
		
	    li {
	    	h2{
	    		color: #fff;
	    		font-size: 30px;
	    		font-weight: bold;
	    		margin-bottom: 0px;
	    	}
		    text-align: center;
		    margin-left: 60px;
		    padding-bottom: 10px;
		    width: 120px;
		    position: relative;
		    p{
		    	margin-bottom: 0;
		    	color: #fff;
		    	font-size: 14px;
		    }
		}
	}
    .get-more {
	    text-align: center;
	    padding-top: 39px;
	    .btn-white {
		    background-color: #fff;
		    border-radius: 0;
		    width: 100%;
		    font-size: 14px;
		    font-weight: bold;
		    color: #1db2cf;
		    padding: 8px;
		    margin-top: 15px;
		    margin-bottom: 15px;
		}
		.btn-public-white {
			background-color: #fff;
		    border-radius: 0;
		    font-size: 14px;
		    font-weight: bold;
		    color: #1db2cf;
		    padding: 8px 30px;
		    margin-top: 15px;
		}
	}
}
/* Chat
  -------------------------------------------------- */
.msg-list-holder {
	 position: fixed;
    right: 0;
    z-index: 9999;
    bottom: 30px;
    width: 300px;
	.msg-list {
	    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	    .header {
		    background-image: url(../../img/chat-header.jpg);
		    padding: 15px 15px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    .inbox {
			    display: inline-block;
			    color: #fff;
			    font-size: 14px;
			}
			.Compose {
			    display: inline-block;
			    float: right;
			    font-size: 14px;
			    i {
				    font-size: 16px;
				    padding-right: 4px;
				    position: relative;
				    top: 1px;
				}
			}
			a {
			    color: #fff;
			}
		}
		.search {
		    background-color: #ebf2f2;
		    padding: 5px;
		    border-bottom: 1px solid #fff;
		    font-size: 14px;
		    .form-control {
			    height: 31px;
			}
			.form-control-feedback {
			    left: 0;
			    top: -1px;
			}
		}
		.body {
			ul {
				list-style: none;
	    		padding: 0;
	    		margin-bottom: 0;
	    		li.unread{
	    			background-color: #ebf2f2;
	    		}
				li {
		    		background-color: #fff;
		    		padding: 10px;
	    			border-bottom: 1px solid #eceaea;
	    			cursor: pointer;
		    		.profile-pic {
					    display: inline-block;
					}
					.name {
					    display: inline-block;
					    vertical-align: top;
					    font-size: 14px;
					    font-weight: bold;
					    padding-top: 5px;
					    .subject {
						    font-size: 12px;
						    font-weight: 400;
						}
					}
					.date {
					    display: inline-block;
					    float: right;
					    font-size: 12px;
					    padding-top: 15px;
					}
				}
			}
		}
		.footer {
		    text-align: Center;
		    background-color: #fff;
		    padding: 10px 0;
		    font-size: 14px;
		    a {
			    color: #20b698;
			}
		}
	}
}
.msg-private-holder{
	 position: fixed;
    right: 0;
    z-index: 9999;
    bottom: 30px;
    width: 300px;
    .msg-private {
    	.header-sub{
	    	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
		    background-color: #5bd784;
		    color: #fff;
		    padding: 5px 10px;
		    font-size: 14px;
		    i{
		    	padding-right: 5px;
		    }
		}
		.header{
			background-image: url(../../img/chat-header.jpg);
		    padding: 5px 10px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    .profile-pic {
			    display: inline-block;
			}
			.name {
			    display: inline-block;
			    color: #fff;
			    font-weight: 600;
			    font-size: 14px;
			}
			.menu {
			    display: inline-block;
			    float: right;
			    padding-top: 14px;
			}
		}
		.body{
			height: 280px;
			background-color: #fff;
			padding: 10px;
			overflow-y: scroll;
			.received,.reply{
				margin-bottom: 15px;
				.img {
				    display: inline-block;
				}
				.msg-holder {
				    display: inline-block;
				    font-size: 12px;
				    width: 77%;
				    vertical-align: middle;
				    .title {
					    padding-bottom: 5px;
					}
					.msg {
					    padding: 5px;
					    border: 1px solid #f2f2f2;
					    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
					    .date {
						    font-size: 11px;
						    color: #1db2c8;
						    padding-top: 4px;
						}
					}
				} 
			}
			.reply .msg{
				background-color: #f2fafa;
			}
		}
		.footer{
			background-color: #edf5f6;
			padding: 5px;
			input{
				font-size: 14px;
			    width: 100%;
			    padding: 5px 7px;
			}
		}
	}
}
.close-chat {
    text-align: center;
    position: relative;
    bottom: -45px;
    z-index: -9;
    cursor: pointer;
}
.chat-circle-holder {
    position: relative;
    cursor: pointer;
    .chat-circle {
	    position: fixed;
	    background-color: #20b698;
	    border-radius: 50%;
	    padding: 15px;
	    z-index: 999;
	    right: 30px;
	    bottom: 15px;
	    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	    span {
		    position: absolute;
		    top: -3px;
		    left: 0;
		    background-color: #f77f79;
		    padding: 0 6px;
		    color: #fff;
		    font-size: 14px;
		    font-weight: 600;
		    border-radius: 50%;
		    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}
}

/* Other
  -------------------------------------------------- */
.touch-scroll {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
    ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    white-space: nowrap;
	    li{
	    	display: inline-block;
	    	float: none;
	    }
	}
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.section-title {
	font-family: @font;
    font-weight: @bold;
    font-size: 14px;
}