@import 'lib.less';

body {
	padding: 10px 10px;
	background-color: rgb(235, 242, 242);
} 

.card-group-template {
	width: 535px;
	padding: 10px 8px;
	background-color: #fafafa;
	.section-one {
		.col-xs-2 img {
			width: 50px;
		}
		i {
			color: #5bd784;
		}
		h2 {
			font-family: 'Open sans', sans-serif;
		    font-size: 15px;
		    font-weight: 700;
		}
		.star-img {
			margin-top: -25px;
		}
		img.option-icons {
		    padding: 5px 7px;
		}
		.title-star {
			padding-top: 8px;
			margin-left: -110px;
			img {
				margin-left: -85px;
			}
		}
		.col-xs-5 {
			padding-right: 0px;
		}
	}
	.section-two {
		background-image: url('../../img/group-tour-backimg.jpg');
		padding: 134px 0px;
	    background-size: cover;
	    background-position: center center;
	    background-repeat: no-repeat;
	}
	.section-three {
		background-color: #fff;
		button {
			width: 100%;
    		margin-top: 10px;
		}
		button:hover {
			color: #20b698;
		}
	}
	.section-four {
		background-color: #fff;
		border: solid 1px #ebe9e9;
		margin-top: 10px;
		height: 215px;
		ul {
			list-style-type: none;
		}
		hr {
			color: #cac8c8;
		}
		.s4-info {
			padding: 10px 15px;
			h2 {
				font-family: 'Open Sans', sans-serif;
				font-size: 30px;
				font-weight: 600;
				color: #48bdd5;
				text-align: left;
			}
			span {
				color: #cccccc;
				text-decoration: line-through;
				padding-left: 10px;
			}
			h3 {
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				font-weight: 600;
				color: #000;
				text-align: left;
			}
			p.location {
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: 600;
				color: #48bdd5;
				margin-top: -5px;
				text-align: left;
			}
			ul {
				padding-left: 0px;
				margin-bottom: 20px;
			}
			ul li {
				width: auto;
				float: left;
				padding: 0px 6px;
			}
			p.s4-li-info {
				font-family: 'Open Sans';
			    font-size: 14px;
			    font-weight: 600;
			}
			.blue-green {
				color: #20b698;
			}
		}
		.tags {
			padding-left: 15px;
    		margin-top: -5px;
			li {
				width: auto;
				float: left;
				padding: 0px 6px;
				p {
					background-color: #ebe9e9;
				    padding: 2px 20px;
				    font-family: 'Open sans', sans-serif;
				    font-size: 14px;
				}
			}
			.add-cat-btn {
				margin-top: 3px;
			}
			a {
				font-family: 'Open sans', sans-serif;
			    font-size: 14px;
			    font-weight: 700;
			    color: #20b698;
			}
		}
	}
	.section-five {
		background-color: #fff;
		border: solid 1px #ebe9e9;
		margin-top: 10px;
		padding: 8px 15px;

		.section-five-title {
			text-align: left;
		    font-family: 'Open Sans', sans-serif;
		    font-size: 16px;
		    font-weight: 700;
		}
		.section-five-details {
			p {
				font-family: 'Open sans', sans-serif;
			    font-size: 15px;
			    font-weight: 600;
			}
		}
	}
	.section-six {
		background-color: #fff;
	    border: solid 1px #ebe9e9;
	    margin-top: 10px;
	    padding: 10px 10px;
	    .nav {
    		border-radius: 1px;
	    }
	    .nav-justified>li {
		    display: table-cell;
		    width: 1%;
		    border: solid 1px #ebe9e9;
		}
		.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		    color: #48bdd5;
		    background-color: #337ab7;
		}
		.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		    color: #48bdd5;
		    background-color: #fff;
		}
		.inner-padding {
			padding: 10px 15px;
			ul {
				list-style-type: none;
				padding-left: 0px;
			}
			li:before {    
				font-family: 'FontAwesome';
				content: '\f105';
				padding-right: 10px;
			}
			li {
				font-family: 'Open sans', sans-serif;
			    font-weight: 700;
			    font-size: 14px;
			    text-align: left;
			    line-height: 20px;
			}

		}
		.details-p1, .details-p2 {
			font-family: 'Open sans', sans-serif;
		    font-weight: 700;
		    font-size: 14px;
		    text-align: left;
		    line-height: 20px;
		}
		.row .text-center {
			margin-top: -10px;
		}
		.row .text-center a {
			font-family: 'Open sans', sans-serif;
		    font-size: 14px;
		    font-weight: 700;
		    color: #48bdd5;
		}
	}
	.section-seven {
		background-color: #fff;
	    border: solid 1px #ebe9e9;
	    margin-top: 10px;
	    padding: 10px 10px;
	    h2 {
	    	font-family: 'Open sans',sans-serif;
		    font-size: 16px;
		    text-align: left;
		    font-weight: 400;
		    margin-top: 7px;
		    span {
		    	font-family: 'Open sans', sans-serif;
			    font-size: 16px;
			    font-weight: 700;
			    margin: 0px 6px;
			    border: 1px solid #5bd784;
    			padding: 5px 10px;
    			color: #20b698;
		    }
	    }
	}
	.section-eight {
		background-color: #fff;
	    border: solid 1px #ebe9e9;
	    margin-top: -1px;
	    padding: 10px 10px;
	    .username {
	    	font-family: 'Open Sans', sans-serif;
	    	font-weight: 700;
	    	font-size: 14px;
	    	color: #20b698;
	    	text-align: left;
	    }
	    .comments {
	    	font-family: 'Open Sans', sans-serif;
	    	font-size: 14px;
	    	font-weight: 400;
	    }
	    .reply-btn {
	    	font-family: 'Open Sans', sans-serif;
	    	font-weight: 400;
	    	font-size: 14px;
	    	color: #20b698;
	    	text-align: left;
	    }
	    .time {
	    	font-family: 'Open Sans', sans-serif;
	    	font-weight: 400;
	    	font-size: 12px;
	    }
	}
}

