@import 'lib.less';

#homeMain{ 
	background-image: url(../../img/home-main-banner2.jpg);
	padding: 170px 0 0; 
	background-position: 68% center;
	.title {
		margin-bottom: 40px;
		h1 {
    		font-weight: 600;
    		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    		font-size: 42px;
		}
		h2 {
		    font-weight: 100;
		    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
		    font-size: 28px;
		}
	}
	.search-main{
		.category{
			.has-feedback-left .form-control {
			    padding-left: 34px;
			    padding-right: 30px;
			}
		}
		.date {
    		.form-control{
    			border-left: none;
    			border-right:none;
    		}
		}
		.btn-search-holder {
			float: right;
		}
		.fa-sort-desc {
		    right: 0;
		    left: initial;
		    font-size: 14px;
		    top: 8px!important;
		}
	}
	.photo-by {
	    text-align: center;
	    clear: both;
	    color: #fff;
	    font-size: 12px;
	    margin-top: 120px;
	    margin-bottom: 20px;
	    a {
		    color: #20b698;
		}
		span{
			padding: 0 5px;
		}
	}

}
#seekShare {
	h3{
		font-size: 22px;
	}
	.sub{
		font-size: 18px;
	}
	.light{
		font-size: 22px;
	}
	img {
    	padding-bottom: 15px;
    	margin: auto;
	}
	hr {
	    margin-top: 25px;
	    margin-bottom: 25px;
	    border-top: 2px solid #ebf2f2;
	}
}
#homeCtaBanner{
	padding: 90px 0;
	background-image: url(../../img/home-cta-banner.jpg);
	h1 {
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}
	.sub{
		font-size: 22px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
		margin-bottom: 20px;
	}
	
}
#home-cta{
	background-image: url(../../img/home-cta-banner2B.jpg);
	    padding: 80px 0;
	        background-position: 30% center;
	p{
		font-size: 18px;
	}
	.sub{
		font-size: 22px;
	}
	.btn-transparent {
		&:hover {
			background-color: #20b698;
			color: #fff;
		}
		background-color: #fff;
		color: #20b698;
		font-size: 18px;
		font-weight: 500;
	}
	.quotes {
		.fa-quote-right {
		    font-size: 24px;
		    padding-left: 13px;
		    position: relative;
		    top: 4px;
		    font-style: italic;
		}
		.fa-quote-left {
		    font-size: 24px;
		    padding-right: 11px;
		    bottom: 10px;
		    position: relative;
		    font-style: italic;
		}
		.by {
		    font-size: 18px;
		    text-align: right;
		    font-weight: 400;
		    position: relative;
    		right: 112px;
		}
	    font-size: 24px;
	    color: #fff;
	    font-weight: 600;
	    text-align: center;
	    font-style: italic;
	    padding:15px 0 30px
	}
}